@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto Slab", serif;
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: #8f5cd7 #f0e9dd;
}